{% extends "layout.html" %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:normal;
    }

    th {
        background-color: #dddddd;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:500;
    }
</style>

<article class="card mb-5" style="min-width:fit-content">
    <div class="card-body">
        <legend class="border-bottom mb-4" style="font-size: 30px; font-weight:bold">User progress for <a href="/viewproblem/{{problemName}}">C-Lang Part {{problemName}}</a></legend>

        <p>Please reload the page to see latest submission statuses.</p>

        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>Status</th>
                <th>Submission &#35;</th>
            </tr>
            </thead>
            <tbody>
            {% for user in solved %}
            <tr>
                <td>{{user}}</td>
                <td style="background-color:lightgreen">Solved</td>

                {% if current_user.is_admin or current_user.name == user %}
                <td><a href="/submission/{{solved[user]}}">{{solved[user]}}</a></td>
                {% else %}
                <td>{{solved[user]}}</td>
                {% endif %}
            </tr>
            {% endfor %}

            {% for user in attempted %}
            <tr>
                <td>{{user}}</td>
                <td style="background-color:yellow">Attempted</td>

                {% if current_user.is_admin or current_user.name == user %}
                <td><a href="/submission/{{attempted[user]}}">{{attempted[user]}}</a></td>
                {% else %}
                <td>{{attempted[user]}}</td>
                {% endif %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</article>

{% endblock content %}

{% block sidebar %}
<div class="content-section">
    <h3>{{side_title}}</h3>
    {% if ready %}
    <a href="/viewproblem/{{problemName}}/submit"><button class="btn btn-primary">Submit Solution</button></a>
    {% else %}
    <a style="max-width:1rem">This problem is currently under maintenance. Please check back a bit later.</a>
    {% endif %}
    
    <hr style="padding-bottom: 0.3em">
    <a href="/viewproblem/{{problemName}}/submissions">View all submissions</a><br>
</div>
{% endblock %}
