{% extends "layout.html" %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:normal;
    }

    th {
        background-color: #dddddd;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:500;
    }
</style>

<article class="card mb-5" style="min-width:fit-content">
    <div class="card-body">
        {% if contest %}
        <legend class="border-bottom mb-4" style="font-size: 30px; font-weight:bold">Problems in contest <code>{{contest}}</code></legend>
        {% else %}
        <legend class="border-bottom mb-4" style="font-size: 30px; font-weight:bold">Tasks</legend>
        {% endif %}

        <table>
            <thead>
            <tr>
                <th>Task name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for problem in problems %}
            <tr>
                <td><a href="/viewproblem/{{problem['name']}}">C-Lang Part {{problem['name']}}</a></td>
                {% if problem['status'].startswith('Ready') %}
                <td style="color:green">{{problem['status']}}</td>
                {% else %}
                <td style="color:gray">{{problem['status']}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>

{% endblock content %}
