{% extends "layout.html" %}
{% block content %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:normal;
    }

    th {
        background-color: #dddddd;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-weight:500;
    }
</style>

<article class="card mb-5" style="min-width:fit-content">
    <div class="card-body">
        <legend class="border-bottom mb-4" style="font-size: 30px; font-weight:bold">Submissions for <a href="/viewproblem/{{problemName}}">C-Lang Part {{problemName}}</a></legend>

        <p>Please reload the page to see latest submission statuses.</p>

        <table>
            <thead>
            <tr>
                <th>Submission &#35;</th>
                <th>Username</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
            <tr>
                {% if current_user.is_admin or current_user.name == submission['author'] %}
                <td><a href="/submission/{{submission['id']}}">{{submission['id']}}</a></td>
                {% else %}
                <td>{{submission['id']}}</td>
                {% endif %}

                <td>{{submission['author']}}</td>
                {% if submission['status'] == 'Correct' %}
                <td style="background-color:lightgreen">{{submission['status']}}</td>
                {% elif submission['status'] == 'In progress' %}
                <td style="background-color:yellow">{{submission['status']}}</td>
                {% elif submission['status'] == 'Incorrect' %}
                <td style="background-color:pink">{{submission['status']}}</td>
                {% else %}
                <td>{{submission['status']}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>

{% endblock content %}
